*.log
usdsCPP/BasicParser/Debug/BasicParser.tlog/unsuccessfulbuild
*.user
*.exe
*.ilk
*.pdb
usdsCPP/BasicParser/Release/BasicParser.tlog/unsuccessfulbuild
*.dll
*.idb
*.obj
*.tlog
*.suo
*.sdf
*.lib
*.opensdf
*.vsp
usdsCPP/usdsCPP.VC.db
UsdsAgent/UsdsAgent.VC.db
UsdsAgent/UsdsAgent/bin/1.txt
UsdsAgent/UsdsAgent/bin/config.ini
UsdsAgent/UsdsAgent/config.ini
*.db
*.db